<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://warehousems.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>warehousems.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WarehouseMS</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WarehouseMS</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="WMSv2.WMSv2Entities" Order="1" Enabled="False">
          <Destination Path="Data Source=webchester.database.windows.net;Initial Catalog=WarehouseDB;User ID=chesterragas;Password=P@55w0rd;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WMSv2.WMSv2Entities, WMSv2" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=webchester.database.windows.net;Initial Catalog=WarehouseDB;User ID=chesterragas;Password=P@55w0rd;Application Name=EntityFramework" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WMSv2.Models.ApplicationDbContext, WMSv2" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
      <ParameterValue>Data Source=webchester.database.windows.net;Initial Catalog=WarehouseDB;User ID=chesterragas;Password=P@55w0rd;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WMSv2.WMSv2Entities-Web.config Connection String">
      <ParameterValue>Data Source=webchester.database.windows.net;Initial Catalog=WarehouseDB;User ID=chesterragas;Password=P@55w0rd;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
    <_ConnectionStringsToInsert Include="WMSv2.WMSv2Entities" />
  </ItemGroup>
</Project>