
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 ml-auto mr-auto">
        <div class="page-categories">


            <div class="tab-content tab-space tab-subcategories">
                <div class="tab-pane active show" id="link7">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Customer / Supplier Master</h4>

                        </div>
                        <div class="card-body">

                            <div class="table-responsive">
                                <table class="table table-striped table-no-bordered table-hover" id="CusSupTable">
                                    <thead>

                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddCusSup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Add Location</h5>
              
            </div>
            <div class="modal-body">

                <form class="form-horizontal" id="frm_CusSup">
                    <input type="hidden" class="form-control" id="ID">
                    <div class="row">
                        <label class="col-md-3 col-form-label">Site</label>
                        <div class="col-md-9">
                            <div class="form-group">
                                <select class="form-control clear" name="SiteCode" id="SiteCode" disabled></select>
                            </div>
                        </div>
                    </div>

                    
                    <div class="row">
                        <label class="col-md-3 col-form-label">Class</label>
                        <div class="col-md-9">
                            <div class="form-group">
                                <select class="form-control clear" name="Class" id="Class">
                                   
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-md-3 col-form-label">Name</label>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="text" class="form-control clear" placeholder="Name" id="Name" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-md-3 col-form-label">Address</label>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="text" class="form-control clear" placeholder="Address" id="Address" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-md-3 col-form-label">Contact</label>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="text" class="form-control clear" placeholder="Contact" id="Contact" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-md-3 col-form-label">Email</label>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="email" class="form-control clear" placeholder="EmailAddress" id="EmailAddress" required>
                            </div>
                        </div>
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="btnsave">Save</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

@section scripts{

    <script src="~/Areas/MasterManagement/Js/CustomerSupplier.js"></script>

}

